#search-container{
    border: 1px solid grey;
    width: 40%;
    border-radius: 20px;
}
#inputArea{
  border: 0; 
  width:95%;
  border-radius: 20px 0 0 20px;
}
input:focus{
  outline: none;
}
#search-btn{
  border: 0;
  background-color: white;
  border-radius: 0 20px 20px 0;
}