* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html,body,#root,.app-layout{
  height: 100vh;
  width: 100%;
 }

a{
  text-decoration: none;
  color: inherit;
}
.page-content{
  flex:1;
}
p{
  margin: 0;
}